/*	DOZEE BALLISTASENSE DTS CONFIGURATION	*/

dozee_ballista_bigsection: &uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

dozee_sheet_smallsection: &uart2 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-1 = <&uart2_sleep>;
	pinctrl-names = "default", "sleep";
};

dozee_ballista_rtc: &i2c1 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	label = "I2C_1";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <1000000>; 
};

dozee_ballista_usb: &zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi4_default_alt>;
	pinctrl-1 = <&spi4_sleep_alt>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;

	sdhc0: sdhc@0 {
			compatible = "zephyr,sdhc-spi-slot";
			reg = <0>;
			status = "okay";
			mmc {
				compatible = "zephyr,sdmmc-disk";
				status = "okay";
			};
			spi-max-frequency = <24000000>;
	};
};

&pinctrl {
	i2c1_default: i2c1_default{
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 2)>,
				<NRF_PSEL(TWIM_SCL, 1, 3)>;
			// bias-pull-up;
		};
	};

	i2c1_sleep: i2c1_sleep{
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 2)>,
				<NRF_PSEL(TWIM_SCL, 1, 3)>;
			low-power-enable;
		};
	};

	uart0_default: uart0_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 28)>;
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 1, 10)>;
			bias-pull-up;
		};
	};

	uart0_sleep: uart0_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 28)>,
				<NRF_PSEL(UART_RX, 1, 10)>;
			low-power-enable;
		};
	};

	uart2_default: uart2_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 30)>;
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 31)>;
			bias-pull-up;
		};
	};

	uart2_sleep: uart2_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 30)>,
				<NRF_PSEL(UART_RX, 0, 31)>;
			low-power-enable;
		};
	};

	spi4_default_alt: spi4_default_alt {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
				<NRF_PSEL(SPIM_MISO, 0, 10)>,
				<NRF_PSEL(SPIM_MOSI, 0, 9)>;
		};
	};

	spi4_sleep_alt: spi4_sleep_alt {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
				<NRF_PSEL(SPIM_MISO, 0, 10)>,
				<NRF_PSEL(SPIM_MOSI, 0, 9)>;
			low-power-enable;
		};
	};

};

/ {
	aliases {
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;
		sw1 = &button1;
		sw2 = &button2;
		bgsection = &bigsection_mux;
		smsection = &smallsection_mux;
		sdcardplug = &sdcard_plug;
		// sensorsheetplug = &sensorsheet_plug;

	};

	chosen {
		zephyr,console = &uart0;
		zephyr,code-partition = &slot0_partition;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";

		led1: led_1 {
			gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
			label = "Green_LED_1";
		};
		led2: led_2 {
			gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
			label = "Green_LED_2";
		};
		led3: led_3 {
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			label = "Green_LED_3";
		};
	};

	buttons {
		compatible = "gpio-keys";
		
		button1: button_1 {
			gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push_button_1";
		};
		button2: button_2 {
			gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push_button_2";
		};
	};

	connector{
		compatible = "arduino-header-r3";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 4 0>,	/* A0 */
			   <1 0 &gpio0 5 0>,	/* A1 */
			   <2 0 &gpio0 6 0>,	/* A2 */
			   <3 0 &gpio0 7 0>,	/* A3 */
			   <4 0 &gpio0 25 0>,	/* A4 */
			   <5 0 &gpio0 26 0>,	/* A5 */
			   <6 0 &gpio1 0 0>,	/* D0 */
			   <7 0 &gpio1 1 0>,	/* D1 */
			   <8 0 &gpio1 4 0>,	/* D2 */
			   <9 0 &gpio1 5 0>,	/* D3 */
			   <10 0 &gpio1 6 0>,	/* D4 */
			   <11 0 &gpio1 7 0>,	/* D5 */
			   <12 0 &gpio1 8 0>,	/* D6 */
			   <13 0 &gpio1 9 0>,	/* D7 */
			   <14 0 &gpio1 10 0>,	/* D8 */
			   <15 0 &gpio1 11 0>,	/* D9 */
			   <16 0 &gpio1 12 0>,	/* D10 */
			   <17 0 &gpio1 13 0>,	/* D11 */
			   <18 0 &gpio1 14 0>,	/* D12 */
			   <19 0 &gpio1 15 0>,	/* D13 */
			   <20 0 &gpio1 2 0>,	/* D14 */
			   <21 0 &gpio1 3 0>,	/* D15 */
			   <22 0 &gpio0 27 0>,  /* A6 */
			   <23 0 &gpio0 28 0>;  /* A7 */
	};


	sheetsections {
		compatible = "gpio-keys";
		bigsection_mux: bigsection_mux {
			gpios = <&gpio0 22 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
					<&gpio0 17 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
					<&gpio0 16 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
		};

		smallsection_mux: smallsection_mux {
			gpios = <&gpio0 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
					<&gpio1 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
					<&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
		};
	};

	sdcardplug {
		compatible = "gpio-keys";
		sdcard_plug: sdcard_plug {
			gpios = < &gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
		};
	};

	// sensorsheetplug {
	// 	compatible = "gpio-keys";
	// 	sensorsheet_plug: sensorsheet_plug {
	// 		gpios = < &gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
	// 	};
	// };

};	

&adc {
    status = "okay";
    compatible = "nordic,nrf-saadc";
};

&gpiote {
    status = "okay";
};


/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot0_ns_partition;
/delete-node/ &slot1_partition;
/delete-node/ &slot1_ns_partition;


&flash0 {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
		};
		slot0_partition: partition@10000 {
			reg = <0x00010000 0x70000>;
			label = "image-0";
		};
		slot1_partition: partition@80000 {
			reg = <0x00080000 0x70000>;
			label = "image-1";
		};
		/* 0xf0000 to 0xf7fff reserved for TF-M partitions */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};


/*  for disabling the SDCard pins forwarding to the network core! */
&gpio_fwd {
	status = "disabled";
};
